<as-navigation [isUserLoggedIn]="'yes'"></as-navigation>
<div class="container">
    <div class="panel panel-default">
        <table class="table table-user-information">
            <tr>
                <th>Name</th><th>Email</th><th>Date of birth</th>
            </tr>
            <tr>
                <td>{{ currentUser.name }}</td><td>{{ currentUser.email }}</td><td>{{ currentUser.dob }} <button class="btn btn-primary" (click)="updateDob()">Update</button></td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default" *ngIf="isUpdate == 1">
        <as-profile [user]="currentUser" (onCancel)="onCancel($event)"></as-profile>
    </div>
</div>