<as-navigation [isUserLoggedIn]="'no'"></as-navigation>
<div class="container">
    <h2>Login</h2>
    <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" placeholder="Email" class="form-control" name="email"  [(ngModel)]="user.email" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="alert-danger">Email is required</div>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" placeholder="Password" class="form-control" name="password"  [(ngModel)]="user.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="alert-danger">Password is required</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>