<div *ngIf="user.dob !='' && user.dob !== undefined" class="panel-body">
    <h2>Update Date of birth</h2>
    <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
    <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="dob">Date of birth:</label>
            <input type="date" placeholder="dob" class="form-control" name="dob" [(ngModel)]="userdob" #dob="ngModel" required />
            <div *ngIf="f.submitted && !dob.valid" class="help-block">DOB is required</div>
        </div>
        <div  (click)="cancelUpdate()" class="btn btn-default">Cancel</div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>