<div class="topnav" id="myTopnav">
    <ul class="nav navbar-nav navbar-left" *ngIf="isLoggedIn === 'no'">
        <li class="active"><a routerLink="/" routerLinkActive="active">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn === 'no'">
        <li class="active"><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li class="active"><a routerLink="/signup" routerLinkActive="active">SignUp</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-left" *ngIf="isLoggedIn === 'yes'">
        <li class="active"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn === 'yes'">
        <li class="active"><a routerLink="/login" routerLinkActive="active">Logout </a> </li>
    </ul>
</div>