<as-navigation [isUserLoggedIn]="'no'"></as-navigation>
<div class="container">
    <h2>Registration</h2>
    <div *ngIf="registerSuccess" class="alert alert-success">
        You are register successfully please login</div>
    <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" placeholder="Name" name="name" [(ngModel)]="user.name" #name="ngModel" required />
            <div *ngIf="f.submitted && !name.valid" class="alert-danger">Name is required</div>
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" placeholder="Email" class="form-control" name="email"  [(ngModel)]="user.email" #email="ngModel" required
                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
            <div *ngIf="f.submitted && email.hasError('required')" class="alert-danger">
                Email is required
            </div>
            <div *ngIf="email.errors && email.errors.pattern"  class="alert-danger">
                Email enter a valid email
            </div>
        </div>
        <div class="form-group">
            <label for="name">Date of birth:</label>
            <input type="date" placeholder="dob" class="form-control" name="dob" [(ngModel)]="user.dob" #dob="ngModel" required />
            <div *ngIf="f.submitted && !dob.valid" class="alert-danger">DOB is required</div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" placeholder="Password" class="form-control" name="password"  [(ngModel)]="user.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="alert-danger">Password is required</div>
        </div>
        <button (click)="goBack()" class="btn btn-default">Back</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>